[submodule "external/mechatronics-software"]
	path = external/mechatronics-software
	url = git@github.com:urill/mechatronics-software.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
